html{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	background-image:url(../images/dark_fish_skin.png);
	background-repeat:repeat;
}
a{
	text-decoration:none;
}
.wrapper{
	width:960px;
	margin:0 auto;
}

header{
	overflow: hidden;
	padding: 20px 0px;
	background-color:white;
	width:100%;
}

.headerdiv_container{
	width:960px;
	margin:0 auto;
}

header div div{
	width:400px;
	float:left;
}

header div p{
	font-size:20px;
	color:#2E2E2E;
	margin:0px;
	font-weight: bold;
}