
/*This is the css for all the tables*/



.tftable {
	font-size:12px;
	color:$red;
	width:100%;
	border-width:1px;
	border-color:$red;
	border-collapse:collapse;
	margin-top:20px;
	box-shadow:0px 0px 20px #1D1D1D;
}
.tftable th {
	font-size:12px;
	background-color:#c1d72e;
	border-width:1px;
	padding: 8px;
	border-style:solid;
	border-color:#a9a9a9;
	text-align:left;
	font-weight:bold;
}

.tftable tr {
	background-color:#ffffff;
}

.tftable tr:hover{
	background-color:#f3fcb9;
}

.tftable td {
	font-size:12px;
	border-width:1px;
	padding:8px;
	border-style:solid;
	border-color:#a9a9a9;
	max-width: 240px;
	line-height:18px;
	max-height:20px;
	white-space:nowrap;
	overflow: hidden;
	transition:height ease-in .2s;
	padding-right:25px;
}

.expandable_row{
	.expandable_arrow{
		display: inline-block;
	}
}

.expandable_row:hover{
	height:90px;
	white-space: normal;
	transition:height east-out .2s;
	.expandable_arrow{
		display: none;
	}
	.full_instructions{
		display: inline-block;
	}
}

.expandable_arrow{
	float: right;
	position: relative;
	top: -26px;
	right: -25px;
	display: inline;
	width:20px;
}

.full_instructions{
	display:none;
}

/*.expandable_arrow:hover{
	display:none;
	visibility:hidden;
}*/

